PORT=5000
MONGODB_URI=mongodb+srv://siddharthnamawork_db_user:E4euJ1ONFEr5GakS@cluster0.rjxzfya.mongodb.net/vedaai?appName=Cluster0
REDIS_URL=rediss://default:gQAAAAAAATS3AAIncDFlMDQ2YTk2MzE2YWQ0NzY3YjI3MzA1MWNjYTcyZDc0YnAxNzkwMzE@deep-finch-79031.upstash.io:6379
GEMINI_API_KEY=AIzaSyB3ZPAWWe_Ms7QgZ4zAOH6c0aADhpFnCCc
CLIENT_URL=http://localhost:3000
